<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">
  <title> Website lab4 </title>

</head>

<body>
  <h1>This is the admin section</h1>
  <p>click on one of the links below</p>

  <a href="/start">main section</a><br>
  <br>
  <table>
    <tr>
      <th>USERID</th>
      <th>USERNAME</th>
      <th>ROLE</th>
      <th>PASSWORD</th>
    </tr>
    <% users.forEach(function(user) { %>
      <tr>
        <th>
          <%= user.userID %>
        </th>
        <th>
          <%= user.name %>
        </th>
        <th>
          <%= user.role %>
        </th>
        <th>
          <%= user.password %>
        </th>
      </tr>
      <% }); %>
  </table>
</body>

</html>