<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">
  <title> Website lab4 </title>

</head>

<body>
  <h1>Welcome to the Main page</h1>
  <p>click on one of the links below</p>

  <a href="/admin">admin section</a><br>
  <a href="/teacher">teacher section</a><br>
  <a href="/student1">student1 page</a><br>
  <a href="/student2">student2 page</a><br>
  <br>
  <a href="users/<%= userid %>">Personal page</a>
</body>

</html>